// Original
$lightGreen: #c5d86d;
$darkerGreen: #a2b15a;
$grayBlue: #8c86aa;
$darkGrayBlue: #4d485d;
$snow: #fcf7f8;
$lightGray: #ced3dc;
$wildBlueYonder: #aba9c3;
$skyBlue: #6dc5d8;
$night: #581845;

// New
$sunYellow: #ffec50;
$skyBlue: dodgerblue;
$newNight: #1e6388;
