$lightGreen: #c5d86d;
$darkerGreen: #a2b15a;
$grayBlue: #8c86aa;
$darkGrayBlue: #4d485d;
$snow: #fcf7f8;
$lightGray: #ced3dc;
$wildBlueYonder: #aba9c3;
$skyBlue: #6dc5d8;
$night: #581845;
// Palette source:
// https://coolors.co/c5d86d-8c86aa-fcf7f8-ced3dc-aba9c3

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    padding: 1em;
    background: $lightGreen;
    color: $darkGrayBlue;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5em;
    margin: 0 0 0.3em;
    color: $snow;
    text-shadow: $grayBlue 4px 5px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-weight: 300;
    margin-top: 0;
    font-size: 2em;
    color: $grayBlue;
    text-shadow: $snow 2px 3px;
}

p {
    font-size: 1.2em;
    margin: 0.3em 0;
    font-weight: 700;
}

a {
    text-decoration: none;
    // font-weight: 700;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    width: 75vw;
    max-width: 500px;
    font-size: 1.2em;
    border-radius: 6px;
    font-weight: 700;
}

.sleep-time {
    background: $night;
    color: $snow;

    a {
        color: $snow;
    }

    a:hover {
        color: $lightGreen;
    }
}

.awake-time {
    background: $skyBlue;

    a {
        color: $darkGrayBlue;
    }

    a:hover {
        color: $grayBlue;
    }
}

button {
    font-family: 'Fredoka One', cursive;
    padding: 1.2em;
    border: 3px solid $snow;
    background: $lightGray;
    color: $grayBlue;
    min-width: 20vw;
    border-radius: 6px;
    font-size: 1.4em;
    margin-bottom: 1em;
}

.manage-links {
    margin-top: 1em;
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
}

.time-picker {
    border-radius: 6px;
    border: 3px solid $wildBlueYonder;
    background: $snow;
    padding: 1.5em;
    margin-top: -1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-picker button {
    padding: 0.5em;
    font-size: 1em;
    min-width: 15vw;
    border: 3px solid $wildBlueYonder;
    margin-top: 1em;
}

button:hover {
    border: 3px solid $lightGray;
    background: $snow;
    transition: all 0.8s;
    cursor: pointer;
}

.light {
    font-weight: 100;
}

// Timepicker styles

.timepicker-bubble circle {
    fill: $grayBlue;
}

.timepicker-hand {
    stroke: $grayBlue;
}

.timepicker-bubble.small.active circle,
.timepicker-bubble.active circle {
    fill: $darkGrayBlue;
}

.timepicker-info-digits.active {
    color: $darkerGreen;
}

.timepicker-bubble circle:hover,
.timepicker-bubble text:hover {
    fill: $darkerGreen;
    // background: $darkerGreen;
}
